{% block navbar %}
		<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
			<ul id="menu-mylabel">
				<li><a href="{{ path('homepage') }}" style="font-size: 14pt">MyLabel</a>
				</li>
				<li><a href="#">Label</a>
					<ul>
						<li><a href="">Qu'est-ce ?</a></li>
						<li><a href="">Conditions d'obtention</a></li>
					</ul>
				</li>
				<li><a href="{{ path('homepage') }}">Suivre mes demandes</a>
				</li>
				<li><a href="{{ path('homepage') }}">Nouvelle demande de label</a>
				</li>
			</ul>
		</nav>
{% endblock %}